<ion-header>
  <ion-toolbar>
    <ion-title>Map</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="container">
  <div class="address-input">
    <br />
    <label>Address</label>
    <input type="text" class="form-control" (keydown.enter)="$event.preventDefault()" autocorrect="off"
      autocapitalize="off" spellcheck="off" type="text" #search value={{restaurant.address}}>
  </div>

  <br />
  <div class="map">
    <agm-map [fitBounds]="true" [latitude]="currLatitude" [longitude]="currLongitude">
      <agm-marker [latitude]="currLatitude" [longitude]="currLongitude" [agmFitBounds]="true">
        <agm-info-window>Current Location</agm-info-window>
      </agm-marker>
      <agm-marker [latitude]="resLatitude" [longitude]="resLongitude" [agmFitBounds]="true">
        <agm-info-window>Restaurant</agm-info-window>
      </agm-marker>
      <agm-direction *ngIf="resLocation != null" [origin]="currLocation" [destination]="resLocation"></agm-direction>
    </agm-map>
  </div>

  <button (click)="back()">Back</button>
</ion-content>