<ion-app>
  <ion-router-outlet></ion-router-outlet>

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-label>Home</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="list">
        <ion-label>List</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="add">
        <ion-label>Add</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="about">
        <ion-label>About</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-app>